body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  display: inline;
}

p.label {
  font-weight: bold;
}

p.label:after {
  content: ': ';
}

.inline-block {
  display: inline-block;
}