body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p {
  display: inline;
}

p.label {
  font-weight: bold;
}

p.label:after {
  content: ': ';
}

.inline-block {
  display: inline-block;
}

.sObjectList {
  @apply(--layout-vertical);
  @apply(--layout-wrap);
    height: 100%;
    width: 100%;
}
.sObjectList > paper-card {
    box-sizing: border-box;
    max-width: 184px;
    margin: 4px;
    flex: 0 0 auto;
    padding: 5px;
}