extends layout
block content
    h1= title

    div(class="sObjectList")
        each obj in objects
            paper-card(heading=obj.label)
                div(class="card-content")

                div(class="card-actions" data-childRelationships=obj.childRelationships.length )
                    div(class="horizontal justified")
                        if obj.deletable
                            iron-icon(icon="icons:delete")
                        each child in obj.childRelationships
                            iron-icon(icon="places:child-care")