extends layout
block content
    paper-drawer-panel(responsive-width="1100px" right-drawer)
        div(drawer)
            paper-header-panel
                paper-toolbar
                    span(class="title") Settings
                div(class="fit" role="listbox")
                    paper-icon-item
                        iron-icon(icon="icons:delete" item-icon)
                        paper-item-body
                            div Enable Object Deletion
                            //div(secondary) Default is false
                        paper-toggle-button
        div(main class="content")
            paper-toolbar(class="red")
                span(class="title") ForceTooling
                paper-icon-button(icon="settings" paper-drawer-toggle)
            paper-card(heading="Custom Objects")
                div( role="listbox")
                    each obj in objects
                        paper-icon-item(class="fit")
                            a(href=obj.describeUri tabindex="-1")
                                iron-icon(icon="icons:create" item-icon link)

                            paper-item-body
                                div #{obj.label}