extends layout
block content
    link(rel='stylesheet', href='/stylesheets/login.css')
    hgroup
        h1 ForceTooling
        h3 By James Gibson & Teagan Glenn

    form
        div(class="group")
            input(id="username" type="email")
            span(class="highlight")
            span(class="bar")
            label Username
        div(class="group")
            input(id="userPassword" type="password")
            span(class="highlight")
            span(class="bar")
            label Password
        button(onClick="onLoginClick()" type="button" class="button buttonBlue") Login
            div(class="ripples buttonRipples")
                span(class="ripplesCircle")
        paper-spinner(active style="display: none;" class="login")

    footer
        p Made in cooperation with
        br
        a(href="http://www.apto.com/" target="_blank")
            img(class="sponsor" src="https://cdn2.hubspot.net/hub/223944/hubfs/AptoLogo.png")

    script(type="text/javascript").
        var $j = jQuery.noConflict();

        $j(window, document, undefined).ready(function () {
            $j('input').blur(function () {
                var $this = $j(this);
                if ($this.val())
                    $this.addClass('used');
                else
                    $this.removeClass('used');
            });
            $j('form input[type="password"]').keydown(function (e) {
                if (e.keyCode == 13) {
                    login();
                }
            });
        });

        function onLoginClick() {
            login();
        }

        function login() {
            $j('paper-spinner.login').get(0).active = true;
            var user = $j('#username').val();
            var password = $j('#userPassword').val();
            var url = "/login/?user=" + user + "&password=" + password;

            console.log(url);
            window.location.href = url;
        }





